body {
  background: black;
}

#board{
  position: relative;
  outline: solid 3px orange;
  height: 90vh;
  width: 90%;
  overflow: hidden;
}
.obstacle{
  position: absolute;
  background: blue;
}
#player{
  position: absolute; 
  background: green;
}