body {
  background: black;
}

#board{
  position: relative;
  outline: solid 3px orange;
  height: 90vh;
  width: 90%;
  overflow: hidden;
}
.obstacle{
  position: absolute;
  background: blue;
}
#player{
  position: absolute; 
  background: green;
}
#platform {
  position: absolute;
  top: 50vh;
  background: orange;
  width: 4vw;
  height: 1vh;
}

#page-gameover{
  background: white;
}

.healthBar{
  background: white;
  height: 4em;
  width: 4em;
  position: absolute;
  margin-top: 4em;
  margin-left: 4em;
  text-align: center;
}